.tile {
  @apply aspect-square rounded-lg;
  @apply relative;
  @apply p-4 py-2  md:p-4  xl:px-8 xl:py-8;
  @apply flex justify-start items-end;
  @apply cursor-pointer;
}

.tileOpen::after {
  @apply absolute bottom-0 left-0;
  @apply w-full h-1/3 rounded-lg;
  @apply bg-gradient-to-br from-transparent via-transparent to-slate-50;

  content: "";
}

.tile p {
  @apply text-white text-3xl md:text-5xl;
  @apply z-10;
}

.tile img {
  @apply absolute;
  top: calc(50% - 32px);
  left: calc(50% - 32px);
}
